// Override default variables before the import
$primary: #7866D3;
$offcanvas-vertical-height: 80vh;

.border-dashed {
  border-style: dashed !important;
}

// Import Bootstrap and its default variables

@import '~bootstrap/scss/bootstrap.scss';