// Override default variables before the import
$primary: #7866D3;
$offcanvas-vertical-height: 90vh;

.border-dashed {
  border-style: dashed !important;
}

@media(min-width: 767px) {
  #mainContainer {
    position: relative;
  }
  
  #mainContainer:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 50;
    height  : 90%;
    width   : 1px;  /* or 100px */
    border-left: 3px solid black;
  }

  .borderSubscriptionForm {
    border: 3px solid #7866D3;
    border-radius: 8px;
  }
}

// Import Bootstrap and its default variables

@import '~bootstrap/scss/bootstrap.scss';