.DayPicker {
  font-size: 1.0rem;
}

#dayPickerForm .DayPicker {
  font-size: .75rem;
}

.DayPicker-Day {
  padding: .7em;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #7866D3 !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #9984ff !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #ddd6ff !important;
}

@media(min-width: 577px) {
  .DayPicker {
    font-size: 1.5rem;
  }

  .DayPicker-Day {
    padding: .5em;
  }
}


@import "~react-day-picker/lib/style.css";